<tr onload="colorGpaBackground" class="report-table-data">
    <td>{{reportItem.school}}</td>
    <td>{{reportItem.division}}</td>
    <td>{{reportItem.conference}}</td>
    <td>{{reportItem.ranking}}</td>
    <td>{{reportItem.gpa.min}}</td>
    <td>{{get reportItem.gpa '25%'}}</td>
    <td class="gpaSection">{{get reportItem.gpa '50%'}}</td>
    <td>{{get reportItem.gpa '75%'}}</td>
    <td>{{reportItem.gpa.max}}</td>
    <td>{{reportItem.sat.reading.min}}-{{reportItem.sat.reading.max}}</td>
    <td>{{reportItem.sat.math.min}}-{{reportItem.sat.math.max}}</td>
    <td>{{reportItem.act.min}}-{{reportItem.act.max}}</td>
</tr>
