<div class="report-header">
    <img class="profile_image" src={{model.profile_image}}/>
    <h2>{{model.name}}</h2>
    <p>Sport: {{model.sport}}</p>
    <p>Class: {{model.grad_year}}</p>
    <p>Club: {{model.club.name}}</p>
    <p>High School: {{model.high_school.name}}</p>
    <p>GPA: {{model.gpa}}</p>
    <p>Desired Major: {{model.major}}</p>
    <img class="sr_insights_logo" src="/sr_insights_logo.png"/>
</div>