<div class="report-header">
    <img class="profile_image" src={{model.profile_image}}/>
    <div class="info-container">
        <div class="info-block">
            <h2><strong>{{model.name}}</strong></h2>
            <p><strong>Sport:</strong> {{model.sport}}</p>
            <p><strong>Class:</strong> {{model.grad_year}}</p>
            <p><strong>Club:</strong> {{model.club.name}}</p>
        </div>
        <div class="info-block">
            <span></span>
            <p><strong>High School:</strong> {{model.high_school.name}}</p>
            <p><strong>GPA:</strong> {{model.gpa}}</p>
            <p><strong>Desired Major:</strong> {{model.major}}</p>
        </div>
    </div>
    <div class="logo-wrapper">
        <img class="sr_insights_logo" src="/sr_insights_logo.png"/>
        <p>Academic Fit Report</p>
    </div>
</div>