<tr onload="colorGpaBackground" class="report-table-data">
    <td>{{reportItem.school}}</td>
    <td class="tPush">{{reportItem.division}}</td>
    <td>{{reportItem.conference}}</td>
    <td class="tPush">{{reportItem.ranking}}</td>
    <td class="tPush">{{reportItem.gpa.min}}</td>
    <td class="tPush">{{get reportItem.gpa '25%'}}</td>
    <td class="gpaSection tPush" >{{get reportItem.gpa '50%'}}</td>
    <td class="tPush">{{get reportItem.gpa '75%'}}</td>
    <td class="tPush">{{reportItem.gpa.max}}</td>
    <td class="tPush">{{reportItem.sat.reading.min}}-{{reportItem.sat.reading.max}}</td>
    <td class="tPush">{{reportItem.sat.math.min}}-{{reportItem.sat.math.max}}</td>
    <td class="tPush">{{reportItem.act.min}}-{{reportItem.act.max}}</td>
</tr>
